.App {
  background-color: lightslategrey;
}


.img {
  
  
  width: 100%;
  height: auto;
  
}

.imgDetail {
  width: 100%;
 
}

.productBox{
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0;
}

nav ul{
  display:flex;
  list-style: none;  
}

nav li{
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: #aaa;
  transition: background-color 0.3s ease;
}

.header{
  background-color: darkslategray;
  padding: 0 10px;
  color: #ddd;
}

.search{
  padding: 5px;
  width: 100%;
}

.active{
  font-weight: bold;
  color: #fff;
}

.cartItemDetails, .cartItemCost {
  padding-top:15px;
}

.cartItem{
  border: 1px #eee solid;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.total{
  font-size: 1.2rem;
  font-weight: bold;
}

.textInput{
  margin-bottom: .2rem;
}

.addressForm{
  padding:1rem;
}

.subSection{
  margin: 1.5rem 0;
}

.checkoutButton{
  padding-top: 10px;
}

.subTotal{
  font-size: 1.5rem;
  margin: 1.2rem 0;
}

.shoppingButton{
  margin: 1rem 2rem;
  padding: 10px;
}